@charset "utf-8";
/* CSS Document */

#key_access {
    position: fixed;
    top: 0;
    width: 100%;
    height: 57px;
    text-align: center;
    overflow: hidden;
    z-index: -1;
}

#key_access ul {
    position: relative;
}

#key_access ul li {
    position: absolute;
    width: 100%;
    height: 57px;
    left: 0;
    top: -9999px;
    background: #6d9bc0
}

#key_access ul li.select {
    top: 0;
}

#key_access a {
    display: block;
    width: 100%;
    height: 57px;
    line-height: 57px;
    color: #fff
}

#loading_page {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 10000;
}

#loading_page p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    font-size: 48px;
    z-index: auto;
}

/* body {
    width: 100%;
    height: 100%;
    flex: 1;
} */

#wrap.flex_bg {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#wrap.flex_bg::before {
    position: absolute;
    content: '';
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, .5) repeat-y;
}

.flex_child {
    width: 70%;
    padding: 15px 0;
}


/*
.flex-child .ui.grid > .column:not(.row) {padding: .5em;}
.flex-child .ui.grid > .column:not(.row) .ui.segment {border-radius: 3px; border: none;}
*/

.login_box .ui.segment {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.login_box h1 {
    text-align: center;
    margin: -.3em 0 .3em 0;
    /* height: 60px; */
}

.login_box h1 .logo {
    width: 65%;
}

.ui.button.login-btn {
    color: #fff;
    background: #526bbe;
}

.login-box .ui.form>.field {
    margin: 0em 0em .5em;
}

/* .login-box .ui.form .fields {
    margin-bottom: 0.5em;
} */

.login-box ul.link-box {
    display: flex;
    align-items: center;
}

.login-box ul.link-box li {
    flex: 1 1 auto;
    margin-top: 10px;
    font-size: .937em;
    text-align: center;
}

.login-box ul.link-box li a {
    color: rgba(0, 0, 0, 0.8);
}

.login-box ul.link-box li .ui.checkbox {
    vertical-align: inherit;
}

.board-box .ui.segment {
    background: rgba(33, 133, 208, .9);
}

.banner-box .ui.segment {
    background-color: rgba(0, 0, 0, .5);
}

.main-box {}

.main-box .header {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-box .header:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.main-box .header h2 {
    position: relative;
    width: calc(100% - 80px);
    font-size: 1.25em;
    color: #fff;
}

.main-box .header .more {
    position: absolute;
    bottom: 10px;
    right: 0;
    padding: 4px 20px;
    font-size: .75em;
    color: rgba(255, 255, 255, 1) !important;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 20px;
    z-index: auto;
}

.main-box ul.board-latest li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.main-box ul.board-latest li a {
    display: flex;
    align-items: center;
}

.main-box ul.board-latest li span.boardTxt {
    padding-left: 8px;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: url(../img/icon_dot.gif) left 50% no-repeat;
    overflow: hidden;
}

.main-box ul.board-latest li span.boardDate {
    margin-left: auto;
    font-size: .875em;
    color: #fff;
}

/* ul.quick-banner li {
    display: flex;
    align-items: center;
} */

ul.quick-banner li a {
    /* display: table-cell; */
    /* padding-left: 60px; */
    font-size: 1em;
    color: #fff;
    font-weight: normal;
    vertical-align: middle;
    min-height: 50px;
    line-height: 50px;
}

ul.quick-banner li a img {
    height: 50px;
    margin-right: 1em;
    object-fit: contain;
}

ul.quick-banner li a.icon02 img {
    height: 45px;
    line-height: 45px;
}

/* ul.quick-banner li a.icon01 {
    background: url(../img/login_icon01.png) no-repeat center;
    background-size: contain;
    background-position: 0 50%;
}

ul.quick-banner li a.icon02 {
    background: url(../img/login_icon02.png) no-repeat center;
    background-size: contain;
    background-position: 0 50%;
}

ul.quick-banner li a.icon03 {
    background: url(../img/login_icon03.png) no-repeat center;
    background-size: contain;
    background-position: 0 50%;
}

ul.quick-banner li a.icon04 {
    background: url(../img/quick_banner_img04.png) no-repeat;
    background-size: 60px;
    background-position: 0 50%;
} */

.view-img {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    vertical-align: middle;
    border-radius: 100%;
    overflow: hidden;
}

.view-img img {
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
}

header h1 {
    float: left;
    height: 60px;
    margin-left: 20px;
}

header h1 img {
    width: 90%;
    vertical-align: middle;
}

h2.sub-title {
    margin: 15px;
    font-size: 2.125em;
    font-weight: 700;
    color: #333;
    text-align: center;
}

ul.list-step3 {
    text-align: center;
}

ul.list-step3 li {
    display: inline-block;
}

ul.list-step3 li:after {
    position: absolute;
    left: -50%;
    top: 50%;
    width: 100%;
    height: 2px;
    content: "";
    margin-top: -1px;
    display: inline-block;
    background: #555;
    background-size: cover;
}

ul.list-step3 li:first-child:after {
    display: none;
}

ul.list-step3 li .circle-step {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 3px solid #fff;
    border-radius: 100%;
    background: #80cef0;
    z-index: 1;
}

ul.list-step3 li .active {
    background: #005a80;
}

ul.list-step3 li .circle-step span {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
}

ul.list-step3 li .circle-step span:last-child {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

ul.stepper {
    display: flex;
    position: relative;
    margin: 2em 0;
}

ul.stepper:before {
    top: 40px;
    left: 50%;
    position: absolute;
    content: '';
    width: 70%;
    height: 2px;
    background-color: #ebebeb;
    transform: translateX(-50%);
}

ul.stepper li {
    flex: 1 1 auto;
    text-align: center;
}

ul.stepper li .circle {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 84px;
    line-height: 84px;
    color: #999;
    border-radius: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .3);
    background: #fff;
    z-index: 1;
}

ul.stepper li p {
    margin-top: .5em;
    font-size: 1.2em;
    color: #999;
}

ul.stepper li.active .circle {
    color: #fff;
    background: #007bff;
}

ul.stepper li.active p {
    font-weight: bold;
    color: #333;
}

.slide-list {
    margin-bottom: 20px;
}

.slide-list>ul>li {
    border: 1px solid #fff;
    border-bottom: 1px solid #d7d7d7;
    transition: all 0.2s ease;
}

.slide-list>ul>li:first-child {
    border-top-color: #6b6b6b;
}

.slide-list>ul>li.on {
    margin-top: -1px;
    border-color: #ff8601;
    background: url(../img/home_sub/faq_dot_on.png) 98% 1.5em no-repeat;
}

.slide-list dl {}

.slide-list dl dt {
    display: flex;
    align-items: center;
    padding: 1.125em;
    cursor: pointer;
}

.slide-list dl dt .chk-custom {
    font-size: 1.25em;
    font-weight: 500;
}

.slide-list dl dt .view {
    position: relative;
    margin-left: auto;
    padding-right: 20px;
    font-size: 1.125em;
}

.slide-list dl dt .view:before,
.slide-list dl dt .view:after {
    display: block;
    content: "";
    width: 1px;
    height: 7px;
    background: #7f7f7f;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .35s ease-in;
}

.slide-list dl dt .view:before {
    top: -5px;
    right: 7px;
    transform: rotate(45deg);
}

.slide-list dl dt .view:after {
    top: 5px;
    right: 7px;
    transform: rotate(135deg);
}

.slide-list dl dd {
    display: none;
    padding: 1em;
    background: #f9f9f9;
}

.slide-list dl dd .agree-txt {
    height: 240px;
    margin: -1em;
    font-size: .875em;
    overflow-y: auto;
}

.slide-list dl.on dt .view:before {
    top: 0;
    transform: rotate(-45deg);
}

.slide-list dl.on dt .view:after {
    top: 0;
    right: 2px;
    transform: rotate(45deg);
}

dl.list-sm {}

dl.list-sm dt {
    font-size: 1em;
    font-weight: 500;
    color: #333;
}

dl.list-sm dd {
    margin-left: 5px;
    padding: 5px 5px 5px 12px;
    text-align: left;
    color: #999;
    background: url(../img/icon_bullet.gif) 0 1em no-repeat;
}

ul.list-sm {}

ul.list-sm>li {
    padding: 6px 4px 6px 8px;
    text-align: left;
    background: url(../img/icon_dot.gif) 0 1em no-repeat;
}

ul.list-sm>li strong {
    color: #333;
}

ul.list-sm>li .name {
    margin-right: 10px;
    color: #333;
}

ul.list-sm>li.bullet-none {
    padding-left: 0;
    background: none;
}

ul.list-sm>li.last-word {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.list-default li {
    padding: 4px 0;
}

ol.list-sm {}

ol.list-sm>li {
    padding: 2px 0;
    text-align: left;
}

ol.list-sm>li>ul {
    margin-top: 5px;
    padding-left: 1em;
}

ol.list-sm>li>ul>li {
    padding: 2px 2px 2px 8px;
    text-align: left;
    color: #999;
    background: url(../img/icon_dot.gif) 0 .75em no-repeat;
}

.reg-form {
    width: 540px;
    margin: 0 auto;
}

.result-form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.result-form .greet-txt {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 500;
}

dl.find-result {
    margin-top: 10px;
    padding: 40px 0;
    padding-left: 140px;
    text-align: left;
    border: 1px solid #66a4c1;
    background: url(../img/home_sub/find_ok.png) 20px 50% #f6f8fc no-repeat;
    background-size: 90px;
}

dl.find-result dt {
    padding-bottom: 5px;
    font-size: 1.25em;
    font-weight: 500;
    color: #2e537c;
}

dl.find-result dd {
    font-size: 1.063em;
    color: #333;
}

dl.find-result.pw-type {
    background: url(../img/home_sub/find_pw_ok.png) 20px 50% #f6f8fc no-repeat;
    background-size: 90px;
}

footer {
    margin-top: 2em;
}

footer:after {
    display: block;
    clear: both;
    content: ''
}

footer .inner-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer .inner-wrap a.privacy_btn {
    margin-left: auto;
}

/* footer .inner-wrap:after {
    display: block;
    clear: both;
    content: ''
} */
footer .inner-wrap ul.copy li {
    padding: 2px 0;
    font-size: .875em;
    color: #fff;
}

footer .inner-wrap ul.copy li address {
    font-style: normal;
}

/* 20220427추가 */
/* .qr_login {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 70%;
}
.qr_login iframe.qr_box {
    position: absolute;
    width: 100%;
    height: 100%
} */


/* .qr_login .qr_box img {
    display: inline-block;
    width: 30%;
    margin-bottom: 10px;
} */
.login_segment {
    min-width: 300px;
    text-align: center;
}

.login_segment h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    margin-bottom: 15px;
}

.login_segment .logo_img img {
    width: 80px;
}

.login_segment .qr_btn {
    margin: 1.5em 0;
    background-color: #20c997 !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

.login_segment .qr_btn:hover, .login_segment .qr_btn:focus {
    background-color: #12b886 !important;
}


.login_segment #loginForm .equal.fields .field.common_univ {
    display: none;
}

.login_segment #loginForm .equal.fields .field.common_univ.active {
    display: block;
}


/* 
.login_segment.dark .listTab ul li.select {
    border-bottom-color: #339af0;
    background-color: #339af0;
}

.login_segment.dark .listTab ul li {
    border-color: #339af0;
    background-color: rgba(255, 255, 255, .05);
}

.login_segment.dark .listTab {
    border-bottom-color: #339af0;
    box-shadow: inset 0px -1px 0px 0px #339af0;
}

.login_segment.dark .ui.dropdown.selection {
    border-color: 1px solid rgba(255, 255, 255, .1);
    background: rgba(255, 255, 255, .1);
}

.login_segment.dark .ui.dropdown .menu>.item:hover {
    background: rgba(255, 255, 255, .1) !important;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, .1) !important;
} */



/* .qr_login {
    position: relative;
    left: 50%;
    z-index: 100;
    overflow: hidden;
    width: 400px;
    height: 340px;
    margin-left: -190px;
}
.qr_login iframe {
    margin-top: -130px;
    margin-left: -20px;
} */

/* 220502추가 */
.user_type .ui.segment .chk-custom {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.energy_login h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.energy_login h1 .logo_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.energy_login h1 .logo_img img {
    height: 100%;
    object-fit: cover;
}

/* 개인정보처리동의 */
.privacy_plcy {
    padding: 0 3em;
    margin-top: 3em !important;
}

.privacy_plcy h3 {
    margin-bottom: 0.3em;
}

.privacy_plcy .chk_agree {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 2;
}

.privacy_plcy .chk_agree>p {
    margin-right: 1em;
}

.privacy_plcy .chk_agree .chk_box {
    margin: 0 5px;
    font-weight: bold;
}

@media all and (max-width:1280px) {
    h1 {
        text-align: center;
    }

    .flex_child {
        width: 90%;
    }

    .login-box, .board-box,
    .login-box .ui.segment, .board-box .ui.segment {
        height: auto;
    }
}

@media all and (max-width:768px) {

    .reg-form,
    .result-form {
        width: auto;
    }

    .flex_child {
        width: 100%;
        padding: 15px;
    }

    .user_type .ui.segment .chk-custom {
        font-size: 18px;
    }

}

@media all and (max-width:767px) {
    body {
        font-size: 14px;
    }

}

@media all and (max-width:480px) {
    #wrap {
        position: relative;
        /* padding: 5% 0; */
    }

    .slide-list dl dt {
        flex-direction: column;
        align-items: flex-start;
    }

    dl.find-result {
        padding: 90px 0 20px 0;
        text-align: center;
        background-position: 50% 0 !important;
    }

    .login_box {
        width: 90%;
        padding: 15px 0;
    }

    ul.stepper:before {
        top: 33px;
        left: 50%;
        position: absolute;
        content: '';
        width: 70%;
        height: 2px;
        background-color: #ebebeb;
        transform: translateX(-50%);
    }

    ul.stepper li .circle {
        position: relative;
        display: inline-block;
        width: 65px;
        height: 65px;
        line-height: 65px;
        color: #999;
        border-radius: 100%;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .3);
        background: #fff;
        z-index: 1;
    }

    .login_segment h1 {
        margin-bottom: 0;
    }

    .login_segment .logo_img img {
        width: 60px;
    }

    footer .inner-wrap a.privacy_btn {
        margin-left: 0;
    }

}